.tm-nav-item-link:hover {
    color: #fff;
    background-color: lightskyblue;
}
.tm-banner {
        background: linear-gradient(to right, #5bc0de,burlywood);
    }
    
.tm-banner-inner {
        background-color: #fff;
    }
    
.tm-banner-inner p {
        text-shadow: 5px 7px 3px #333;
        animation: 3s ease-out 0s move-text;
    }
div.tm-content-box{
    display:flex;
    align-items: center;
    text-align: center;
    line-height: 2;
}

li.box.box-bg:hover{
    background-color: lightgray;
    color: lightskyblue;
}

.heading ol li:hover::before {
    content: '>';
    font-weight: bold;
}

.heding .padding-medium h2 {
    color: lightskyblue;
    font-weight: 300;
    text-align: center;
}

.heding ol li {
    list-style-type: lower-alpha;
}

.heaing ol li:nth-child(1)::after,
.heaing ol li::nth-child(3)::after {
    content: 'New';
    color: red;
    vertical-align: super;
    font-variant: small-caps;
    font-size: smaller;
    font-weight: bold;
    
}

.blocks h2 {
    text-align: left;
}

.block p:nth-child(3) {
    letter-spacing: 5px;
    word-spacing: 10px;
    font-style: italic;
}







